{% extends "base.twig" %}

{% block content %}
Liked - No auth
<div id="login">Authenticate now!</div>
{% endblock %}


{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="//{{app.request.host}}{{ app.request.basepath }}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script>document.write('<script src="//{{app.request.host}}{{ app.request.basepath }}/fb-fs/tdfriendselector.js"><\/script>')</script>
<script>
$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/sl_SI/all.js', function(){
    FB.init({
        appId: '163113757233003',
        //channelUrl: '//yourapp.com/channel.html',
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
    });
  });
});
</script>
<script src="//{{app.request.host}}{{ app.request.basepath }}/js/plugins.js"></script>
<script src="//{{app.request.host}}{{ app.request.basepath }}/js/main.js"></script>
{% endblock %}
